{
  "scraper": {
    "id": "Taiwan",
    "enabled": true
  },
  "config": {
    "OUTPUT_DIR": "",
    "SCRIPT_01_OUT_CODES": "taiwan_drug_code_urls.csv",
    "SCRIPT_01_SEEN_CODES": "seen_drug_codes.txt",
    "SCRIPT_01_PROGRESS_FILE": "taiwan_progress_prefix.txt",
    "SCRIPT_01_HEADLESS": false,
    "SCRIPT_02_IN_CODES": "taiwan_drug_code_urls.csv",
    "SCRIPT_02_OUT_DETAILS": "taiwan_drug_code_details.csv",
    "SCRIPT_02_SEEN_LICIDS": "seen_licids.txt",
    "SCRIPT_02_SEEN_COMPANIES": "seen_companies.txt",
    "SCRIPT_02_HEADLESS": false
  },
  "secrets": {}
}
