{
  "scraper": {
    "id": "tender_brazil",
    "enabled": true
  },
  "config": {
    "SCRAPER_ID": "tender_brazil",
    "OUTPUT_DIR": "",
    "INPUT_DIR": "",
    "BACKUP_DIR": "",
    "DAYS": 1,
    "SEARCH_PAGE_SIZE": 100,
    "DEFAULT_TIMEOUT": 45,
    "SCRIPT_INPUT_FILENAME": "Input.csv",
    "SCRIPT_OUTPUT_FILENAME": "output.csv"
  },
  "secrets": {}
}
